<div class="step-by-step">
  {% set stepCnt = 1 %}
  {% for step in steps %}
    <div class="step">
      <div class="step-counter">{{ stepCnt }}</div>
      <div class="step-content">{{ step|raw }}</div>
    </div>
    {% set stepCnt = stepCnt + 1 %}
  {% endfor %}
</div>