<div class="fixed bottom-0 z-[60] w-full bg-white p-2 text-xs text-gray-500 border-t border-gray-200">
  (C) <a href="https://www.wai.blue">WAI</a>
  | Rendered using <a href="https://github.com/wai-blue/guidevis" target="_blank">GuideVis</a>
</div>